@model IEnumerable<BanHangOnline.Models.ApplicationUser>
@{
    ViewBag.Title = "Quản lý tài khoản";
}

@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/home" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/account" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Danh sách tài khoản</h3>

            <div class="card-tools">
                @*<a href="/admin/account/create" class="btn btn-info">Thêm</a>*@
            </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tài khoản</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Trạng thái</th>
                        @*<th>Quyền</th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i = 1;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@item.UserName</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                @if (item.Block == 0)
                                {
                                    <td class="text-success">Hoạt động</td>
                                }


                                @if (item.Block == 1)
                                {
                                    <td class="text-danger">Đã chặn</td>
                                }
                                @*<td>@item.Roles</td>*@
                                @*<td>
                                            <a class="btn btn-info" href="/admin/account/edit/@item.UserName">Sửa</a>
                                        <a class="btn btn-info btnDelete" data-username="@item.UserName" href="/admin/account/delete/@item.UserName" >Xóa</a>

                                    </td>*@
                                @if (item.Block == 0)
                                {
                                    <td>
                                        <a href="#" class="btn btn-danger btnBlock" data-id="@item.Id">Chặn</a>
                                    </td>
                                }
                                @if (item.Block == 1)
                                {
                                    <td>
                                        <a href="#" class="btn btn-success btnUnBlock" data-id="@item.Id">Hủy chặn</a>
                                    </td>
                                }
                            </tr>
                            i++;
                        }

                    }
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '.btnBlock', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có chắc chắn muốn chặn thành viên này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/Account/BlockUser',
                        type: 'GET',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();

                            }
                            else {
                                alert("Không thành công!!!");
                            }
                        }

                    });
                }
            });
            $('body').on('click', '.btnUnBlock', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có chắc chắn muốn hủy thành viên này không?');
                if (conf === true) {
                    $.ajax({
                        url: '/Admin/Account/UnBlockUser',
                        type: 'GET',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                location.reload();

                            }
                            else {
                                alert("Không thành công!!!");
                            }
                        }

                    });
                }
            });
        });
    </script>
}