@model IEnumerable<BanHangOnline.Models.EF.ProductImage>
@{
    ViewBag.Title = "Ảnh sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    .glImage{
        list-style:none;
        margin:0;
        padding:0;
        display:flex;
    }
    .glImage li {
        display:inline-block;
        position:relative
    }
    .box-btn{
        position:absolute;
        bottom:0;
        left:0;
        width:100%;
        text-align:center;
    }
</style>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Hành động </h3>
            <div class="card-tools">
                <button type="button" class="btn btn-danger" title="Collapse">
                    Xóa hết
                </button>
                <input type="button" class="btn btn-info" value="Tải ảnh" onclick="BrowseServer('txtImage');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glImage">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {
                    <li id="trow_@item.Id">
                    <img src="@item.Image" width="200" />
                    <div class="box-btn">
                        <a href="#" class="btn btn-sm btn-danger btnDelete" data-id="@item.Id"><i class="fa fa-trash"></i></a>
                        @if (item.IsDefault)
                        {
                            <a href="#" class="btn btn-sm btn-info btnDefault" data-default1="@item.IsDefault" data-id="@item.Id" onclick="ChangeMain();"><i class="fa fa-check"></i></a>
                        }
                        else
                        {
                            <a href="#" class="btn btn-sm btn-info btnDefault" data-default1="@item.IsDefault" data-id="@item.Id">X</a>
                        }
                    </div>

                    </li>
                    }
                }
            </ul>
            
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    //bat skfinder
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            //khi popup , click vao them mot cai anh trong finder thi no se goi ham , va truyen url  anh vao
            AddImage(@ViewBag.ProductId, fileUrl);
        };
        finder.popup();
    };

    function AddImage(id, url) {
        $.ajax({
            url: '/admin/ProductImage/AddImage',
            type: 'POST',
            data: { productId: id, url: url },
            success: function (rs) {
                if (rs.success) {
                    window.location.reload();
                }
            }
        });
    }

    $(document).ready(function () {
        $('body').on('click', '.btnDelete', function () {
            var id = $(this).data('id');
            var conf = confirm('Bạn có muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/delete',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
        });

        $('body').on('click', '.btnDefault', function () {
            var default1 = $(this).data('default1');
            //if (default1 === true) {
            //alert('Ảnh này đã là ảnh đại diện!!!' + default1);
            //}
            var id = $(this).data('id');
            var conf = confirm('Bạn có muốn đặt ảnh này làm ảnh đại diện không không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/productimage/ChangeMainImage',
                    type: 'POST',
                    data: { productId: @ViewBag.ProductId, id: id, isDefault: default1 },
                    success: function (rs) {
                        if (rs.success) {
                            window.location.reload();
                        }
                        else {
                            alert("Ảnh này đã là ảnh đại diện !!!")
                        }
                    }
                });
            }
        });

    });


</script>
