@model IEnumerable<BanHangOnline.Models.EF.Product>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        var strImge = "";
        var img = item.ProductImages.FirstOrDefault(x => x.IsDefault);
        if (img != null)
        {
            strImge = img.Image;
        }
        <div class="col-lg-3 col-md-4 col-sm-6 mix oranges fresh-meat">
            <div class="featured__item">
                <div class="featured__item__pic set-bg" @*data-setbg="img/featured/feature-1.jpg"*@>
                    @*@if (item.PriceSale > 0)
                    {
                        <div><span class="badge badge-danger">SALE</span></div>
                    }*@
                    <div class="product_image">
                        <img src="@strImge" alt="@item.Title" />
                    </div>
                    <ul class="featured__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="featured__item__text">
                    <h6><a class="product_name" href="@item.Alias">@item.Title</a></h6>
                    @if (item.PriceSale > 0)
                    {
                        <h5 class="product_price"><span>@BanHangOnline.Common.Common.FormatNumber(item.PriceSale, 0) VNĐ</span></h5>

                    }
                    else
                    {
                        <h5 class="product_price">@BanHangOnline.Common.Common.FormatNumber(item.Price, 0) VNĐ</h5>

                    }
                </div>
            </div>
        </div>

    }
}
