@model IEnumerable<BanHangOnline.Models.EF.News>
@if (Model != null && Model.Any())
{
    foreach (var item in Model)
    {
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="blog__item">
                <div class="blog__item__pic">
                    <img src="@item.Image" alt="">
                </div>
                <div class="blog__item__text">
                    <ul>
                        <li><i class="fa fa-calendar-o"></i> @item.CreatedDate.ToString("dd/MM/yyyy") | @item.CreateBy</li>
                        @*<li><i class="fa fa-comment-o"></i> 5</li>*@
                    </ul>
                    <h5><a href="#">@item.Title</a></h5>
                    <p>@item.Description</p>
                </div>
            </div>
        </div>
    }

}
