<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/books-icon.png" />
    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css" type="text/css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    @*<div class="humberger__menu__overlay"></div>
        <div class="humberger__menu__wrapper">
            <div class="humberger__menu__logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="humberger__menu__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">item: <span>$150.00</span></div>
            </div>
            <div class="humberger__menu__widget">
                <div class="header__top__right__language">
                    <img src="img/language.png" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth">
                    <a href="#"><i class="fa fa-user"></i> Login</a>
                </div>
            </div>
            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    <li class="active"><a href="./index.html">Home</a></li>
                    <li><a href="./shop-grid.html">Shop</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                    <li>Free Shipping for all Order of $99</li>
                </ul>
            </div>
        </div>*@
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> anhducnguyen0703@gmail.com</li>
                                <li>Miễn phí ship cho đơn hàng trên 400.000 Đ</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            @*<div class="header__top__right__language">
                                    <img src="img/language.png" alt="">
                                    <div>English</div>
                                    <span class="arrow_carrot-down"></span>
                                    <ul>
                                        <li><a href="#">Spanis</a></li>
                                        <li><a href="#">English</a></li>
                                    </ul>
                                </div>*@
                            <div class="header__top__right__auth">
                                @Html.Action("Partial_login_logout", "Home")
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img style="margin-left: -8px; width: 180px;" src="/Content/assets/img/DECOM-LOGO-02-1024x342.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        @*@Html.Action("MenuTop", "Menu")*@
                        <ul>
                            <li class="active"><a href="/">Trang chủ</a></li>
                            @*@foreach (var item in Model)
            {
                <li class="active"><a href="/@item.Alias">@item.Title</a></li>
            }*@
                            <li><a href="/Product">Sách</a></li>
                            @*<li>@Html.ActionLink(Sản Phẩm,"Index")</li>*@

                            @*<li>
                <a href="#">Tin Tức</a>
                <ul class="header__menu__dropdown">
                    <li><a href="./shop-details.html">shop details</a></li>
                    <li><a href="./shoping-cart.html">shoping cart</a></li>
                    <li><a href="./checkout.html">check out</a></li>
                    <li><a href="./blog-details.html">blog details</a></li>
                </ul>
            </li>*@
                            <li><a href="/News">Tin Tức</a></li>
                            <li><a href="/Contact/AddContact">Liên Hệ</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            @*<li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>*@
                            <li><a href="/shoppingcart"><i class="fa fa-shopping-bag"></i> <span id="cart_cout">0</span></a></li>
                        </ul>
                        @*<div class="header__cart__price">item: <span>$150.00</span></div>*@
                    </div>
                </div>
            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    @RenderBody()

    <!-- Hero Section End -->
    <!-- Contact Section Begin -->
    <hr />
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_phone"></span>
                        <h4>Số điện thoại</h4>
                        <p>+84-963-704-338</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_pin_alt"></span>
                        <h4>Địa chỉ</h4>
                        <p>980 Giải Phóng, Hoàng Mai, Hà Nội</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_clock_alt"></span>
                        <h4>Giờ hoạt động</h4>
                        <p>09:00 sáng đến 23:00 tối</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                    <div class="contact__widget">
                        <span class="icon_mail_alt"></span>
                        <h4>Email</h4>
                        <p>anhducnguyen0703@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img style="margin-left: -8px;width:180px;" src="/Content/assets/img/DECOM-LOGO-02-1024x342.png" alt=""></a>
                        </div>
                        <ul>
                            <li>Địa chỉ: 980 Giải Phóng, Hoàng Mai, Hà Nội</li>
                            <li>Số điện thoại: +84 963704338</li>
                            <li>Email: anhducnguyen0703@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên kết</h6>
                        <ul>
                            <li><a href="#">Về chúng tôi</a></li>
                            <li><a href="#">Giới thiệu cửa hàng</a></li>
                            <li><a href="#">Thông tin liên hệ</a></li>
                            <li><a href="#">Chính sách đổi trả</a></li>
                            <li><a href="#">Chính sách vận chuyển</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Hướng dẫn mua hàng trực tuyến</a></li>
                            <li><a href="#">Hướng dẫn thanh toán</a></li>
                            <li><a href="#">Góp ý, khiếu nại</a></li>
                            <li><a href="/Product/Index">Sách mới</a></li>
                            <li><a href="/Product/Index">Sách bán chạy</a></li>
                            <li><a href="/News/index">Tin tức</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        @Html.Action("Partial_Subcrice", "Home")
                        <div class="footer__widget__social">
                            <a href="https://www.facebook.com/profile.php?id=100051249833928"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                @*Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>*@
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                        @*<div class="footer__copyright__payment"><img src="img/payment-item.png" alt=""></div>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*@Scripts.Render("~/bundles/jquery")*@
    <!-- Js Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/Content/assets/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/assets/js/bootstrap.min.js"></script>
    @*<script src="~/Content/assets/js/jquery.nice-select.min.js"></script>*@
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/js/jquery.slicknav.js"></script>
    <script src="~/Content/assets/js/mixitup.min.js"></script>
    <script src="~/Content/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jsShopping.js"></script>




    @RenderSection("scripts", required: false)
</body>
</html>
